<h1>About Us...</h1>
</b></b>
<p>Our highly experienced results and data-driven Senior Information Technology Leaders have multifaceted experience in software engineering, program management, application development, change management, business requirements, and budget management. A proven track record for building and transforming high-performing teams and delivering creative solutions on time and within budget. Our team is both creative and bottom-line oriented. We are focused and resourceful with the ability to complete complex and high-profile projects, ensuring company productivity, compliance, and maximum efficiency. </P>
<br/><br/>
<h2>Contact Information</h2>
<p>Mark Massucci</p>
<p>Principal Consultant and Owner</p>
<p>mark.massucci@mtechptr.com</p>