<h1>Massucci Technology Partners, LLC</h1>
<p>Information Technology and Services Consultanting Firm</p>
<p></p>
<p>We provide program management, project management, business systems analysis, architecture, design, development, and testing of software applications and products.</p>
<p></p>
<h2>About</h2>
<p>Our highly experienced results and data-driven Senior Information Technology Leaders have multifaceted experience in software engineering, program management, application development, change management, business requirements, and budget management. A proven track record for building and transforming high-performing teams and delivering creative solutions on time and within budget. Our team is both creative and bottom-line oriented. We are focused and resourceful with the ability to complete complex and high-profile projects, ensuring company productivity, compliance, and maximum efficiency. </P>
<p></p>
<h2>Contact Information</h2>
<p>Mark Massucci</p>
<p>Principal Consultant and Owner</p>
<p>mark.massucci@mtechptr.com</p>
